body {
  margin: 0;
}

.App {
  background: rgb(211,226,244);
  background: radial-gradient(circle, rgba(211,226,244,1) 8%, rgba(105,172,213,1) 50%, rgba(98,120,166,1) 87%, rgba(87,89,150,1) 99%, rgba(71,43,10,1) 100%); 
  padding: 120px;
  margin: 0;
  height: calc(100vh - 240px);
}

.content {
  display: grid;
  width: 100%;
  background-color: rgb(231, 220, 220);
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  padding: 32px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.45);
}
